
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<ul>
    <li>
        @Html.ActionLink("Movies", "Index", "Movie")
    </li>
    <li>
        @Html.ActionLink("Customer", "Index", "Customer")
    </li>
</ul>
